*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Arial;
}

.body-img{
    background-image: url('https://c.pxhere.com/photos/55/37/galaxy_infinity_milky_way_orbit_space_stars-1366710.jpg!d');
    background-size: 100vw 100vh;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100vh;
    filter: blur(1.5px);
}

nav{
    background-color: #4e4c4c9d;
    border-bottom: 1px solid rgb(85, 85, 85);
    padding: 32px;
}

.menu ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.menu li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.menu li a:hover{
    text-decoration: underline;
}

.site-title,
.site-subtitle{
    color: whitesmoke;
    margin-top: 25px;
    text-align: center;
}

.site-subtitle{
    font-style: italic;
}


